{% extends 'base.html' %}

{% block content %}
<h1>{{user.username}}'s likes</h1>

<div class="col-lg-6 col-md-8 col-sm-12">
  <ul class="list-group" id="messages">
    {% for msg in messages %}
      {% if g.user.is_following(msg.user) or g.user.id == msg.user_id %}
      <li class="list-group-item">
        <a href="/messages/{{ msg.id  }}" class="message-link"/>
        <a href="/users/{{ msg.user.id }}">
          <img src="{{ msg.user.image_url }}" alt="" class="timeline-image">
        </a>
        <div class="message-area">
          <a href="/users/{{ msg.user.id }}">@{{ msg.user.username }}</a>
          <span class="text-muted">{{ msg.timestamp.strftime('%d %B %Y') }}</span>
          <p>{{ msg.text }}</p>
        </div>
        {% if g.user.id != msg.user_id %}
        {% if msg.id in likes_ids %}
        <form method="POST" action="/users/unlike/{{ msg.id }}" id="messages-form">
          <button class="
            btn 
            btn-sm 
            btn-primary"
          >
            <i class="fa fa-thumbs-up"></i> 
          </button>
        </form>
        {% else %}
        <form method="POST" action="/users/add_like/{{ msg.id }}" id="messages-form">
          <button class="
            btn 
            btn-sm 
            btn-secondary"
          >
            <i class="fa fa-thumbs-up"></i> 
          </button>
        </form>
        {% endif %}
        {% endif %}
      </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>

{% endblock %}